<body>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true" />

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="Full name" required [(ngModel)]="signupName" required/>
        <input type="email" name="email" placeholder="Email" required [(ngModel)]="signupEmail" required/>
        <input type="password" name="pswd" placeholder="Password" required [(ngModel)]="signupPassword" required minlength="4"/>
        <span style="margin: 0 auto; display: table; color: red;" *ngIf="signUpErrorMessage">{{signUpErrorMessage | titlecase}}</span>
        <button (click)="signup()">Sign up</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input
          type="email"
          name="email"
          placeholder="Email"
          required
          [(ngModel)]="loginUsername"
        />
        <input
          type="password"
          name="pswd"
          placeholder="Password"
          required
          [(ngModel)]="loginPassword"
        />

        <span style="margin: 0 auto; display: table; color: red;" *ngIf="errorMessage">{{errorMessage | titlecase}}</span>
        <button (click)="login()">Login</button>
      </form>
    </div>
  </div>
</body>
