.dashboard-grid{
    .dashboard-grid-market-block {
        .market-card{
            box-shadow: 5px 5px 5px lightgray;
            background-color: white;
        }
    }

    .dashboard-grid-vacation-block{
        .vacation-card {
            box-shadow: 5px 5px 5px lightgray;
            background-color: white;
        }
    }

    .dashboard-grid-stocks-block{
        .stocks-card{
            box-shadow: 5px 5px 5px lightgray;
            background-color: white;
        }
    }
}