<button
  mat-mini-fab
  color="accent"
  aria-label="Example icon button with a plus one icon"
  matTooltip="Add new transaction"
  style="background-color: #324960"
>
  <fa-icon
    class="sidenav-link-icon"
    [icon]="plusIcon"
    style="color: white"
  ></fa-icon>
</button>
<h2>Last Transactions</h2>
<div class="table-wrapper" style="max-height: 500px">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Sector</th>
        <th>Date Order</th>
        <th>Value</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.sector}}</td>
        <td>{{transaction.createdAt}}</td>
        <td>${{transaction.value}}</td>
        <td>
          <button
            mat-raised-button
            color="warn"
            matTooltip="Delete the transaction"
            (click)="deleteTransaction(transaction.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
